.App {
  display: flex;
  text-align: center;
  color: #fff;
  background-image: url('./images/bg-main-desktop.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
  @media (width <= 700px){
    padding: 3% 5%;
    background-image: url('./images/bg-main-mobile.png');
    flex-direction: column;
    background-size: contain;
  }
}
